body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    padding: 20px;
    width: 600px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



  
div#bar-notification {
    color: whitesmoke;
    display: none;
    left: 0;
    line-height: 16px;
    opacity: 0.95;
    padding: 15px 25px 15px 10px;
    position: fixed;
    top: auto;
    width: 100%;
    z-index: 1000;
    background-color: green;
}