body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:dodgerblue;

}

a {
color:whitesmoke;
}

/*quantity input box*/
.qty-input { 
border: 1px solid #DDD;
border-radius: 4px 4px 4px 4px;
padding: 2px 6px 6px 6px;
width: 35px;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    padding: 20px;
    width: 600px;
    color:whitesmoke;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*CAROUSEL*/

.a-button {
    position:absolute;
    top: 50%;
    background: #ffffff;
    border-radius: 3px;
    border-color: #ADB1B8 #A2A6AC #8D9096;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0;
    text-align: center;
    height:25px;
    width:25px;
    color:darkblue;
    
}

.a-button-next {
    right: -37px;
}


.a-button-prev {
    left: -37px;
}

/***********/


/*PRODUCT DETAILS*/

.details-wrapper{
    display:flex;
    flex-flow:row wrap;
}

br{
  flex-basis: 100%;
  width: 0px; 
  height: 0px; 
  overflow: hidden;
}


.prod-img {
}

.prod-details {
color:whitesmoke;
}

.prod-addtocart{
    left: 218px;
    flex-basis: 44%;
    position: relative;
    width: 50%;
}

#quantityform .qty-input { 
margin-left:15px;
}

.qty-label {
font-weight:bold;
}

#qty-btn-add {
    width:175px;
    margin-left:20px;
    margin-top:5px;
}


  
div#bar-notification {
    color: whitesmoke;
    display: none;
    left: 0;
    line-height: 16px;
    opacity: 0.95;
    padding: 15px 25px 15px 10px;
    position: fixed;
    top: auto;
    width: 100%;
    z-index: 1000;
    background-color: green;
}


.instock{

    color:chartreuse;
}
.outofstock{

    color:orangered;
}

/**************/


/*CART*/
.btn-delete:hover{
    color:red;
}
.btn-update:hover {
    color:limegreen;
}

/**************/


/*MY ORDERS*/

.orders {
background-color:darkgrey;

}

.orders-open {
background-color:lightgreen;

}

/**************/