@model IEnumerable<MOKANZ.Models.ProductModel>

<div class="body-content">
    <h3>Best selling products</h3>
    <div class="slider">

        @foreach (var product in Model)
        {
            <div>
                <span>
                    <span>
                        <img src="@product.SImage" />
                    </span>
                    <span>@Html.ActionLink(@product.ProductName, "Details", "Products", new { id = product.ProductID }, null)</span>
                    <span>@product.Price</span>
                </span>
            </div>
        }
    </div>
</div>